.intro-section {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  max-width: 550px;
  margin-right: 80px;
}

.profile-picture {
  width: 200px;
  border-radius: 100px;
  box-shadow: -10px -10px 100px rgb(43, 255, 204);
}

.resume-button {
  padding: 15px 50px;
  font-size: medium;
  font-weight: bold;
  font-size: 19px;
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 17px;
  cursor: pointer;
  box-shadow: 2px 2px 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resume-button:hover {
  transform: translateY(-20px);
  box-shadow: 0 15px 30px rgba(130, 125, 125, 0.856);
}

.hi-message,
.name {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 12px;
}

.position {
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: bold;
}
.position-name {
  color: rgb(0, 255, 213);
}

.intro-par {
  margin-bottom: 40px;
  line-height: 25px;
  font-size: 20px;
  color: rgb(198, 180, 180);
}

.skills-container {
  display: flex;
  justify-content: center;
}
