.skill-section-container {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}



.skills-section,
.skills-header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section {
    max-width: 1760px;
}


.skills-header-section {
  margin-bottom: 40px;
  max-width: 600px;
  text-align: center;
}

.skills-heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.skills-description {
  font-size: 19px;
  color: rgb(198, 180, 180);
}

.skill-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-box {
  background-color: rgb(0, 25, 25);
  display: flex;
  flex-direction: column;
  border: 0.1px solid rgb(43, 255, 204);
  box-shadow: rgba(191, 196, 39, 0.15) 2px 4px 24px;
  border-radius: 16px;
  max-width: 500px;
  width: 100%;
  padding: 18px 36px;
  gap: 17px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.skill-type {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.programmming-container {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
}

.programming-box {
  display: flex;
  border: 0.1px solid rgb(198, 180, 180);
  padding: 15px 18px;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
}

.language-name {
  font-size: 20px;
  color: rgb(198, 180, 180);
}

.programming-language-icon {
  width: 35px;
}

@media (max-width: 600) {
  .programming-box {
    display: flex;
    border: 0.1px solid rgb(198, 180, 180);
    padding: 15px 18px;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
  }
}